#gameTable {
	position: relative;
	margin: 0 auto;
	border-radius: 50px;
	background-color: forestgreen;
	border: 5px solid brown;
  overflow: hidden;
}

img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.card {
	position: absolute;
	top: 80;
	padding: none;
	border: none;
	outline-style: dashed;
}

#message {
	position: relative;
	margin: auto;
	top: 80;
	text-align: center;
}

.btn-group button {
  background-color: #af684c;
  border: 1px solid rgb(128, 51, 0);
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  width: 50%;
	position:relative;
	right:-955px;
	top: 30px;
	width: 90px;
	border-radius: 10%;
	z-index: 10;
}

.btn-group button:not(:last-child) {
  border-bottom: none;
}


.btn-group button:hover {
  background-color: #8e723e;
}

#boxed{
	position: relative;
	left: 829px;
  height: 500px;
	top: -580px;
  width: 300px;
  background-color: rgb(106, 190, 134);
  color: #fff;
  opacity: .9;
  padding: 20px;
	border-radius: 10%;
	z-index: 100;

}

h3 {
	text-align: center;
}

.icon {
	display: block;
	width: 70px;
	height: 100px;
	margin: 0 auto;
}

#newGame {
	display: block;
	margin: 0 auto;
}
