:root {
	--dark-color-a: #ff9e66;
	--dark-color-b: #626364;
	--light-color: #2c3ba8;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

#gameTable {
	position: relative;
	margin: 0 auto;
	right: -4em;
	border-radius: 50px;
	background-color: forestgreen;
	border: 5px solid brown;
  overflow: hidden;
}

img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.card {
	position: absolute;
	top: 80;
	padding: none;
	border: none;
	outline-style: dashed;
}

#message {
	position: relative;
	margin: auto;
	top: 80;
	text-align: center;
}

.btn-group button {
  background-color: #af684c; 
  border: 1px solid rgb(128, 51, 0); 
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
  width: 50%; 


	width: 90px;
	border-radius: 10%;
}

.btn-group button:not(:last-child) {
  border-bottom: none; 
}


.btn-group button:hover {
  background-color: #8e723e;
}

#rules{
	position: relative;
	left: 590px;
  height: 450px;
  width: 300px;
	top: -100px;
  background-color: rgb(106, 190, 134);
  color: #fff;
  opacity: 0.7;
  padding: 20px;
	border-radius: 10%;
	text-align: center;
	display: none;


}

h3 {
	text-align: center;
}

.war_icon {
	display: block;
	width: 70px;
	height: 100px;
	margin: 0 auto;
}


ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	position: relative;
	max-width: 600px;
	width: 600px;
	right: -700px;
	background: #fff;
	margin: 30px auto;
	z-index: 10;
	top: -50em;
	border-radius: 5%;
	display: none;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	max-width: 900px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}